@font-face {
    font-family: "Arial";
    src: url("./fonts/ArialMT.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Arial";
    src: url("./fonts/Arial-BoldMT.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "ProximaNovaCond";
    src: url("./fonts/ProximaNovaCond-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

* {
    font-family: "Arial", serif;
    font-weight: normal;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.reg-title {
    text-align: center;
    font-weight: 900;
    font-size: 34px;
    line-height: 38px;
    font-family: "ProximaNovaCond";
}
.button {
    width: 170px;
    margin: 0 100px;
    height: 46px;
    padding: 12px 25px 12px 25px;
    color: #fff;
    background-color: #2998ff;
    border: 1px solid #0f8fee;
    border-radius: 3px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    cursor: pointer;
}
.button_form {
    width: 192px;
    margin: 0;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: normal;
}
.button:hover {
    background-color: #0070c1;
}
.form__img {
    margin-bottom: 32px;
}
.form__img img {
    width: 274px;
    display: block;
    margin: 0 auto;
}
.form__img_small img {
    width: 159px;
    display: block;
    margin: 0 auto;
}
.form__img_small {
    width: 30%;
    height: 50%;
}
.form {
    margin-top: 62px;
    max-width: 670px;
    min-width: 320px;
    height: 335px;
    border-radius: 3px;
    background: #ffffff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.09),
        0px 3px 19px rgba(51, 51, 51, 0.04);
    display: flex;
    flex-direction: column;
    position: relative;
}
.form_light {
    height: 380px; 
}
.form_full {
    height: 648px; 
}
.descr {
    color: #999999;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    margin: 0 28px 0 37px;
}
.descr_light {
    top: 80%;
}
.descr_full {
    top: 87%;
}
.close-form {
    top: 15px;
    position: absolute;
    right: 16px;
    cursor: pointer;
}
form input {
    width: 368px;
    height: 48px;
    margin-bottom: 18px;
    border: 1px solid #e5e5e5;
    padding: 15px 0px 15px 15px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Arial';
}
form label {
    margin: 16px 0 36px 0;
}
form input::placeholder {
    color: #B3B3B3;
}
._error input{
    border: 2px solid red;
}
form > div {
    position: relative;
}
.err-tooltip {
    padding-top: 5px;
    background-color: red;
    opacity: 0.8;
    color: #fff;
    position: absolute;
    top: 47px;
    z-index: 1;
    height: 30px;
    width: 86%;
    border-radius: 3px;
    /* border-bottom-right-radius: 5px; */
    /* border-bottom-left-radius: 5px; */
}
.form__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    padding: 34px 20px 0 37px;
}
.form__content {
    width: 70%;
}

.form__inputCheck {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.form__inputCheck + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.form__inputCheck + label::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;

    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
}
.form__inputCheck:checked + label::before {
    border-color: #0f8fee;
    background-color: #0f8fee;
    background-image: url("./images/checkbox.png");
}
.choose-reg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.container {
    width: 100%;
    display: block;
    margin: 90px auto 140px;
}
