@font-face {
    font-family: 'Arial';
    src: url('./fonts/ArialMT.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Arial';
    src: url('./fonts/Arial-BoldMT.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaCond';
    src: url('./fonts/ProximaNovaCond-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

* {
    font-family: 'Arial', serif;
    font-weight: normal;
}

*, *:after, *:before {
    box-sizing: inherit;
}


.reg-title {
    text-align: center;
    font-weight: 900;
    font-size: 34px;
    line-height: 38px;
    font-family: 'ProximaNovaCond';
}
.button {
    width: 170px;
    margin: 0 100px;
    height: 46px;
    padding: 12px 25px 12px 25px;
    color: #fff;
    background-color: #2998FF;
    border: 1px solid #0F8FEE;
    border-radius: 3px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    cursor: pointer;
}
.button_form {
    width: 192px;
    margin: 0;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: normal;
}
.button:hover {
    background-color: #0070C1;
}
.form__img {
    margin-bottom: 32px;
}
.form__img img{
    width: 274px;
    display: block;
    margin: 0 auto;
}
.form__img_small img {
    width: 159px;
    display: block;
    margin: 0 auto;
}
.form {
    margin-top: 62px;
    max-width: 670px;
    min-width: 320px;
    height: 335px;
    border-radius: 3px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.09), 0px 3px 19px rgba(51, 51, 51, 0.04);
    display: flex;
    flex-direction: column;
}
.form__container_small {
    /* display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 30px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "email photo" "city photo" "check ." "button ." "descr ."; */
}
.form__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}
.form__inputCheck {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.form__inputCheck + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.form__inputCheck + label::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;

    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
}
.form__inputCheck:checked + label::before {
    border-color: #0F8FEE;
    background-color: #0F8FEE;
    background-image: url('./images/checkbox.png')
}
.choose-reg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.container {
    width: 100%;
    display: block;
    margin: 90px auto 140px;
}
